.trigger-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.close-button {
  border: none;
  background-color: transparent;
  align-self: flex-end;
  outline: none;
  cursor: pointer;
}

.movie-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.popopup-content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.video-player {
  width: 200px;
}

.popup-contianer{
  border-radius: 10px;
}